[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dotvim/bundle/SimpylFold"]
	path = dotvim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/vim-session"]
	path = dotvim/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "dotvim/bundle/vim-signature"]
	path = dotvim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/minibufexpl"]
	path = dotvim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
